@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;;
}

#page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EEF4FF;
}

h1{
    font-size: 44px;
    text-align: center;
    padding-top: 75px;
    font-family: 'Inter', sans-serif;
}

#sottotitolo{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 32px;
}
.bold{
    font-weight: bold;
}

.form-group{
    display: flex;
    flex-direction: row;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-element input{
    width: 340px;
    height: 52px;
    border-radius: 15px;
    border: 1px solid black ;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.form-element label{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
}

#ludovica{
    width: 340px;
    height: 52px;
    border-radius: 15px;
    background-color: #94E1A5;
    font-family: 'Inter', sans-serif;
    outline: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;

}

#bottone{
    padding-top: 25px;
}

