@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    background-color: #EEF4FF;
}

#page{
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 44px;
    text-align: center;
    padding-top: 75px;
    font-family: 'Inter', sans-serif;
}